/* .homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.formWrapper{
    padding: 20px;
    width: 540px;
    max-width: 90%;
}

.inputGrp{
    display: flex;
    flex-direction: column;
}

.inputBox{
  padding: 10px;
  margin-bottom: 14px;
  font-weight: bold;
}

.btn{
  padding:10px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  margin:5px;
  border: none;
  background-color: rgb(0, 165, 230);
  color:white;
}

.memWrapbtn{
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.memWrapbtn button{
  padding: 10px;
  margin: 15px;
  border: none;
  background-color: red;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.memList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
  margin-left: 1rem;
}

.EditorHeading{
  margin-left: 1rem;
}

.memWrapinner{
  display: flex;
  flex-direction: row;
}

.userName{
  font-weight: bold;
  border: none;
  padding: 4px;
  background-color: rgb(9, 92, 194);
  color:white;
}

.EditorHeading{
  text-decoration: underline;
}

.CodeMirror{
  width: 58rem;
  height: 30rem;
  font-size: 15px;
  line-height: 1.6;
  padding: 20px;
  margin-left: 1rem;
}
